<mat-toolbar>
    <div class="mat-toolbar-content">
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="cursor: pointer" (click)="page = 'home'">X-MEN</span>
    </div>

    <div class="mat-toolbar-content">
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                Cerrar sesión
            </button>
        </mat-menu>
    </div>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button mat-stroked-button (click)="onAddStudent()">Crear nuevo alumno</button>
        <button mat-stroked-button (click)="page = 'enabledStudents'">Alumnos habilitados</button>
        <button mat-stroked-button (click)="page = 'inactiveStudents'">Alumnos deshabilitados</button>
    </mat-drawer>

    <div class="example-sidenav-content">

        <span id="welcome" *ngIf="page === 'home'">
            Sistema de información de la Escuela de Xavier para Jóvenes Superdotados
        </span>

        <span class="table-container" *ngIf="page === 'enabledStudents'">
            <app-students-table 
                [table]="activeStudents"
                (updateStudent)="onUpdateStudent($event)"
                (desactivateStudent)="onDesactivateStudent($event)"
            ></app-students-table>
        </span>

        <span class="table-container" *ngIf="page === 'inactiveStudents'">
            <app-students-table 
                [table]="desactiveStudents"
                (updateStudent)="onUpdateStudent($event)"
                (desactivateStudent)="onDesactivateStudent($event)"
            ></app-students-table>
        </span>



    </div>

</mat-drawer-container>