.example-container {
    height: 100vh;
}

.example-sidenav-content {
    //display: flex;
    height: 100%;
    padding: 3em;
    //align-items: center;
    //justify-content: center;
}

.example-sidenav,  mat-drawer button{
    width: 230px;
}

mat-drawer button{
    padding: 3em;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.mat-toolbar-content {
    display: flex;
    align-items: center;
}

#welcome{
    font-size: 3em;
    line-height: 1.5em;
}
