#welcome{
    font-size: 4em;
    line-height: 1.5em;
    text-shadow: 10px -10px 0.3em black, //arriba
                 10px 10px 0.3em black, //derecha
                 -10px 10px 0.3em black, //izquierda
                 -10px -10px 0.3em black, //abajo
}