<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{student?.name ?? 'Name' | fullname: student?.surname ?? 'Surname'}}</mat-card-title>
        <mat-card-subtitle>ID: {{ (student?.idnumber | number: '1.0-0') ?? 'Id number'  }}</mat-card-subtitle>
        <div class="buttons">
            <mat-icon 
                matTooltip="Update student's details"
                (click)="updateStudent.emit(student)">
                edit
            </mat-icon>
            <mat-icon 
                *ngIf="student"
                [matTooltip]="student.email"
                (click)="sendEmail.emit(student.id)">
                mail
            </mat-icon>
        </div>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            <!-- cursos en los que está inscripto en alumno -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let course"> {{course.position}} </td>
            </ng-container>

            <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef>Course</th>
                <td mat-cell *matCellDef="let course"> {{course.name}} </td>
            </ng-container>

            <ng-container matColumnDef="average">
                <th mat-header-cell *matHeaderCellDef>Avg note</th>
                <td mat-cell *matCellDef="let course"> {{course.note}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>