.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.buttons{
    position: absolute;
    right: 3em;
    display: flex;
    flex-direction: column;
}