mat-card-header {
    display: flex;
    align-items: center;
}

.buttons {
    position: absolute;
    right: 3em;
    display: flex;
    flex-direction: column;
}

.loading{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}