<mat-drawer-container class="example-container" autosize>

    <mat-drawer class="example-sidenav" mode="side"
    [opened]="open">

        <button mat-stroked-button 
                (click)="page = 'home'">
            HOME
        </button>
        <button mat-stroked-button 
                (click)="onAddStudent()">
            Add new student
        </button>
        <button mat-stroked-button 
                (click)="page = 'enabledStudents'">
            Active students
        </button>
        <button mat-stroked-button 
                (click)="page = 'inactiveStudents'">
            Inactive students
        </button>
    </mat-drawer>

    <div class="example-sidenav-content" 
        [ngClass]="{'background': page === 'home'}">

        <span id="welcome" 
                *ngIf="page === 'home'">
            Welcome
            <!-- <app-home></app-home> -->
        </span>

        <span class="table-container" 
                *ngIf="page === 'enabledStudents'">
            <app-students-table 
                [table]="activeStudents" 
                (updateStudent)="onUpdateStudent($event)"
                (desactivateStudent)="onDesactivateStudent($event)">
            </app-students-table>
        </span>

        <span class="table-container" 
                *ngIf="page === 'inactiveStudents'">
            <app-students-table 
                [table]="desactiveStudents" 
                (updateStudent)="onUpdateStudent($event)"
                (desactivateStudent)="onDesactivateStudent($event)">
            </app-students-table>
        </span>
    </div>

</mat-drawer-container>