mat-list-item{
    padding: 2em;
}

.usersBtn{
    position: absolute;
    bottom: 0.1%;
} 

.is-active .tag {
    color: #69F0AE;    
}

.tag{
    margin-left: 0.6em;
}

.option{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}