$primary-color: #673ab7;
$accent-color: #56e7a1;

mat-list-item{
    padding: 2em;
}

.usersBtn{
    position: absolute;
    bottom: 0.1%;
} 

.is-active .tag {
    color: $accent-color;    
}

.tag{
    margin-left: 0.6em;
}

.page{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}