.example-container {
    height: 100vh;
}

.example-sidenav-content {
    height: 100%;
    padding: 3em;
    background-image: url('/src/assets/images/escuela-xavier.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.example-sidenav{
    width: 200px;
}
