.example-container {
    height: 90%;
}

.example-sidenav{
    max-width: 200px;
}

.example-sidenav-content {
    min-height: 94.5%;
    max-height: 94.5%;
    padding: 1em 3em;
    background-image: url('/../assets/images/school.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}