<table mat-table
    [dataSource]="dataSource"
    matSort #studentsSort="matSort"
    class="mat-elevation-z8">

    <ng-container matColumnDef="idnumber">
        <th appFontSize="50px" 
            mat-header-cell 
            *matHeaderCellDef
            mat-sort-header>
            ID
        </th>
        <td mat-cell *matCellDef="let student">
            {{student.idnumber | number: '1.0-0' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
        <th appFontSize="50px" 
            mat-header-cell 
            *matHeaderCellDef
            mat-sort-header="name">
            Full name
        </th>
        <td mat-cell *matCellDef="let student">
            {{ student.name | fullname: student.surname }}
        </td>
    </ng-container>

    <ng-container matColumnDef="dob">
        <th appFontSize="50px" 
            mat-header-cell 
            *matHeaderCellDef
            mat-sort-header>
            Birthday
        </th>
        <td mat-cell *matCellDef="let student">
            {{student.dob | date: 'yyyy/MM/dd'}}
        </td>
    </ng-container>

    <!-- <ng-container matColumnDef="active">
        <th appFontSize="50px" 
            mat-header-cell 
            *matHeaderCellDef
            mat-sort-header="active">
            Is active
        </th>
        <td mat-cell *matCellDef="let student"> {{ student.active.toString() | uppercase }} </td>
    </ng-container> -->

    <ng-container matColumnDef="actions">
        <th appFontSize 
            mat-header-cell 
            *matHeaderCellDef> 
            Actions 
        </th>
        <td mat-cell *matCellDef="let student">
            <mat-icon
                matTooltip="View student's detail"
                (click)="goToDetail(student.id)">
                visibility
            </mat-icon>
            <mat-icon 
                matTooltip="Update student's details"
                (click)="updateStudent.emit(student)">
                edit
            </mat-icon>
            <mat-icon 
                [matTooltip]="student.email"
                (click)="sendEmail.emit(student.id)">
                mail
            </mat-icon>
            <!-- <mat-icon 
                matTooltip="Change student's status"
                (click)="desactivateStudent.emit(student.id)">
                {{ student.active ? 'person_remove' : 'person_add' }}
            </mat-icon> -->
            <mat-icon 
                matTooltip="Delete student"
                (click)="deleteStudent.emit(student.id)">
                delete
            </mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator #paginator
        color="accent"
        [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>