<p mat-dialog-title>
    {{ data ? 'Updating course' : 'Creating course' }}
</p>

<mat-dialog-content class="mat-typography">

    <form class="example-form">

        <div class="invisible">
            <mat-form-field>
                <input matInput [formControl]="idControl">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Course name</mat-label>
                <mat-select [formControl]="nameControl">
                    <mat-option 
                        *ngFor="let name of coursesNames"
                        [value]="name">
                        {{name.nameString}}
                    </mat-option>
                </mat-select>
                <mat-error> {{ nameControlError }} </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col">
                <mat-label>Start date</mat-label>
                <input matInput [min]="minStartDate" 
                    [matDatepicker]="picker" 
                    [formControl]="startDateControl">
                <mat-error> {{ startDateControlError }} </mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col">
                <mat-label>End date</mat-label>
                <input matInput [min]="minEndDate" 
                    [matDatepicker]="picker1" 
                    [formControl]="endDateControl">
                <mat-error> {{ endDateControlError }} </mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Teacher</mat-label>
                <mat-select [formControl]="teacherControl">
                    <mat-option 
                        *ngFor="let teacher of teachers"
                        [value]="teacher">
                        {{teacher.name}}
                    </mat-option>
                </mat-select>
                <mat-error> {{ teacherControlError }} </mat-error>
            </mat-form-field>
        </div>

    </form>

</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="accent" [disabled]="!courseForm.valid" [mat-dialog-close]="courseForm.value">
        Confirm
    </button>
</mat-dialog-actions>